<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cb4f145e9f.js" crossorigin="anonymous"></script>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/index.css">
    
    <!-- <link rel="icon" href="favicon.ico"> -->
    <script src="/js/index.js"></script>
    
    <title>Vehicle Cost Predictor</title>

</head>
<body>

    <div class="container">
        <!-- Navigation menu -->
        <nav class="ourNavigation">
            <div class="navbarLogo">
                <img src="images/logo-navbar.png" alt="navbar-logo" id="navbarLogoImage">
            </div>

            <!-- Hamburger menu for smaller screens -->
            <div class="breadButton hideMe">
                <div class="burgerContainer">
                    <img src="/images/hamburger.png" alt="" class="hamburger" id="myHamburger">
                </div>
            </div>
            
            <!-- Menu items -->
            <div class="menuItems">
                <ul class="ourMenuList">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                    <% if(loggedIn){ %>
                        <li class="loggedInItem">
                            <button><i class="fas fa-user"></i></button>
                            <div class="userOptionsContainer hideMe">
                                <!-- User options -->
                                <ul class="userOptions">
                                    <li>
                                        <a href="#">Your profile</a>
                                    </li>
                                    <li>
                                        <a href="/logout">logout</a>
                                    </li>
                                </ul>
                            </div>
                        </li>                    
                    <% } else{ %>
                        <li><a href="/loginPage">Login/Sign Up</a></li>
                    <% } %>
                </ul>
            </div>

        </nav>
        <!-- Vertical menu for smaller screens -->
        <div class="verticalMenu">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
                <li>
                    <a href="/loginPage">Login/Sign Up</a>
                </li>
            </ul>
        </div>

        <!-- OPTIONS MENU -->
        <div class="optionMenu">
            <div class="option">
                <a href="/bike">
                    <img src="/images/bike.png" alt="bike-image">
                    Bike
                </a>
            </div>
            <div class="option">
                <a href="/scooters">
                    <img src="/images/scooter.png" alt="scooter-image">
                    Scooters
                </a>
            </div>
            <div class="option">
                <a href="/cars">
                    <img src="/images/car.png" alt="car-image" id="carImage">
                    Cars
                </a>
            </div>
        </div>


        <!-- FullScreen slider -->
        <div class="sliderContainer">
            <div class="sliderBabyContainer">
                <div class="leftArrow">
                    <i class="fas fa-arrow-left"></i>
                </div>
                <div class="rightArrow">
                    <i class="fas fa-arrow-right"></i>
                </div>
            </div>
        </div>


    </div>
    
</body>
</html>