<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Including common things(Fonts, stylesheets and scripts) -->
   <%- include('templates/essentials.ejs'); %>

   <link rel="stylesheet" href="/css/index.css">
   

   <script src="/js/index.js"></script>
    
    <title>Vehicle Cost Predictor</title>

</head>
<body>

    <div class="container">
        

        <!-- Including navigation menu from ejs templates -->
        <%- include('templates/navigation.ejs', {loggedIn: loggedIn}); -%>

        

        <!-- OPTIONS MENU -->
        <div class="optionMenu">
            <div class="option">
                <a href="/bike">
                    <img src="/images/bike.png" alt="bike-image">
                    Bike
                </a>
            </div>
            <div class="option">
                <a href="/scooters">
                    <img src="/images/scooter.png" alt="scooter-image">
                    Scooters
                </a>
            </div>
            <div class="option">
                <a href="/cars">
                    <img src="/images/car.png" alt="car-image" id="carImage">
                    Cars
                </a>
            </div>
        </div>


        <!-- FullScreen slider -->
        <div class="sliderContainer">
            <div class="sliderBabyContainer">

                <!-- Black overlay for images -->
                <div class="blackOverlaySlider"></div>

                <div class="textBlockOnSlider">
                    <p>Let's manage your vehicle's expenses together.</p>
                    <div class="sliderButtonContainer">
                        <button>Cost Predictor</button>                        
                        <button>Expenses Calculator</button>
                    </div>
                </div>

                <!-- Slider arrows -->
                <div class="leftArrow">
                    <i class="fas fa-arrow-left"></i>
                </div>
                <div class="rightArrow">
                    <i class="fas fa-arrow-right"></i>
                </div>
            </div>
        </div>


    </div>
    
</body>
</html>